/* Import bootstrap */
@import '~bootstrap/scss/bootstrap';

/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Import variables */
@import './variable.scss';

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* Common */
body {
    font-family: 'Roboto', sans-serif;
}
.small-container {
    max-width: 56.25rem;
    margin: auto;
}
.curvedContainer {
    height: 100px;
    background-color: #fff;
    clip-path: ellipse(55% 100% at 50% 0%);
}
.curvedContainerRotate {
    height: 100px;
    background-color: #fff;
    clip-path: ellipse(55% 100% at 50% 0%);
    transform: rotate(180deg);
}
