/* Colors */
$commonYellow: #f9d03f;
$commonGray: #747474;

/* Mixin buttons */
@mixin button {
    border: 0;
    font-size: 1.25rem;
    font-weight: lighter;
    transition: all 0.2s linear;
}

@mixin smallButton {
    padding: .5rem 1.25rem;
}

@mixin bigButton {
    padding: .625rem 1.875rem;
}

@mixin blackButton {
    color: #fff;
    background-color: #333333;
}

@mixin yellowButton {
    color: #333333;
    background-color: $commonYellow;
}

/* Mixin Background image */
@mixin imgBg {
    background-size: cover;
    background-position: center;
}

/* Mixin icon Modern Card */
@mixin iconModernCard {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: .0625rem solid #747474;
    color: #747474;
    font-size: 1.25rem;
}

/* Mixin icon Core Values */
@mixin iconCoreValues {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 3.75rem;
    color: #fff;
}

/* Mixin divHover */
@mixin divHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0 1.25rem;
    background-color: $commonYellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}
@mixin divIcon {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .3125rem;
    background-color: #fff;
    color: $commonYellow;
    font-size: 1.25rem;
    cursor: pointer;
}